/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom Style*/
body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header
{
    text-align: center;
    font-size: 40px;
    padding: 20px;
}

hr
{
    width: 600px;
}
.Exercise1 
{
    text-align: center;
    padding: 10px;
}
h2
{
    margin: 10px;
    font-size: 20px;
}

p
{
    margin-bottom: 30px;
}

.margin
{
    background-color: crimson;
    display: inline-block;
   
}
.padding
{
    background-color: #afeeee;
    display: inline-block;
    padding: 10px;
    border: 10px solid black;
    margin: 20px;
    
}

.content
{
    background-color: darkseagreen;
    width: 200px;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;
    
}

.column
{
    display: inline-block;
    padding: 10px;
    
}

.green
{
    background-color: darkseagreen;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
   
}
.blue
{
    background-color: #afeeee;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    
}
.black
{
    background-color: black;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    
}
.crimson
{
    background-color: crimson;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
   
}

.Exercise2
{
    text-align: center;
    
}
.parent
{
    border: 1px solid black;
    display: inline-block;
    margin: 20px;
    padding: 1px;
    width: 600px;
    box-sizing: border-box;
    
    
}



.children
{
    background-color: grey;
    width: 180px;
    height: 100px;
    margin: 10px;
    
    display: inline-block;
    box-sizing: border-box;
    
}
.border
{
    border: 1px solid black;

}



