/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*custom style*/

header
{
    
    padding: 20px;
}

h1
{
    font-size: 30px;
}
.box1 
{
    background-color: brown;
    width: 150px;
    height: 100px;
    border: 4px solid black;
    padding: 40px;
    margin: 30px;
    display: inline-block;
    box-sizing: border-box;
}
.box2a
{
    background-color: brown;
    width: 150px;
    height: 100px;
    border: 4px solid black;
    padding: 40px;
    margin: 30px;
    display: inline-block;
    box-sizing: border-box;
}
.box2b
{
    background-color: brown;
    width: 150px;
    height: 100px;
    border: 4px dashed black;
    padding: 40px;
    margin: 30px;
    display: inline-block;
    box-sizing: border-box;
}
.box3a
{
    background-color: brown;
    width: 150px;
    height: 100px;
    border: 4px dotted black;
    padding: 40px;
    margin: 30px;
    display: inline-block;
    box-sizing: border-box;
}
.box3b
{
    background-color: brown;
    width: 150px;
    height: 100px;
    padding: 40px;
    margin: 30px;
    display: inline-block;
    box-sizing: border-box;
}
p
{
    line-height: 18px;
}
.box4
{
    color: white;
    background-color: brown;
    width: 400px;
    height: 400px;
    border-top:10px solid blue ;
    border-bottom:10px solid red ;
    border-left: 10px solid yellow ;
    border-right:10px solid green ;
    outline: 20px solid indigo;
    padding: 20px;
    margin: 30px;
    box-sizing: border-box;
    
  
}
